p.para1{
	background-color: blue;

}
p.para2{
	background-color: white;

}
p.para3{
	background-color: red;

}

img, table, td, blockquote, code, pre, textarea, input, iframe, object, embed, video {
    max-width: 100%;
}