body{
margin:0px;

}


p.para1{
	background-color: blue;

}
p.para2{
	background-color: white;

}
p.para3{
	background-color: red;

}
img{
	position: center;
}



@media (max-width: 480px) {
 
 }

 @media (max-width: 640px) {
 
 }

 @media (max-width: 720px) {
 
 }