

p.para1{
	background-color: blue;

}
p.para2{
	background-color: white;

}
p.para3{
	background-color: red;

}

img {
    max-width: 100%;
	margin-left:auto;
    margin-right: auto;
}
#iut{
	width:300px;
	display:block;
   

}

h1{
	font-size: 8vw;
}
p{
	font-size: 1rem;
}
@media(-webkit-max-device-pixel-ratio:2){

}


@media (max-width: 480px) {
 
 }

 @media (max-width: 640px) {
 
 }

 @media (max-width: 720px) {
 
 }